@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); /* Here is the font link from GOOGLEFONTS*/ 
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


header {
    background-color: red;
}

nav{
    width: 100%; 
    height: 100%;
    display: block;
    margin: 0 auto;
}

nav ul{
    margin-top: 5.5em;
    float: right;
}

nav li{
    display: inline;
}

nav a{
    font-weight: 800;
    color: white;
    padding: 0 20px;
}
nav a:hover {
    font-weight: 400;
    color: black;
}


aside { /*Changed the settings of the aisde*/
    padding: 20px; /*added some padding*/
    border: red 2px solid; /*added border*/
    width: 150px;
 }

article { /*Here I set the settings for the article*/
    text-align: center;
    padding: 30px;
    color: red;
    margin-top: -7em;
}

#images{ /*Aligned all the images in the center*/
    text-align: center;
}
footer {
    background-color: red;
}

footer .inner-footer {
    width: 100%; 
    height: 100%;
    display: block;
    margin: 0 auto;
}

footer ul{
    margin-top: 5.5em;
    float: right;
}

footer li{
    display: inline;
}

footer a{
    font-weight: 800;
    color: white;
    padding: 0 20px;
}

    footer img{
        width: 170px;
        height: 170px;
    }

    footer a:hover {
        font-weight: 400;
        color: black;
    }

    @media only screen and (max-width: 700px){
        
        nav ul{
            float: right;
        }
        nav li{
            display: flex;
        }
        nav img{
            width: 170px;
            height: 170px;
        }

        article { /*Gave the article 0 margin so it goes under the aside*/
            margin: 0;
        }
    
        #images img{ /*changed the image sizes here and made it responsive*/
            width: 100%;

        }
    
        footer ul{
            float: right;
        }
    
        footer li{
            display: flex;
        }
    }